// Copyright (C) 2009 Technische Universitaet Muenchen
// This file is part of the Peano project. For conditions of distribution and
// use, please see the copyright notice at www5.in.tum.de/peano
#ifndef __INCLUDE_GUARD_PREFIX___REPOSITORIES___NONQUALIFIED_TYPE_NAME_OF_REPOSITORY___FOR_SPACETREE_GRID_ARRAY_STACK_IMPLEMENTATION_H_
#define __INCLUDE_GUARD_PREFIX___REPOSITORIES___NONQUALIFIED_TYPE_NAME_OF_REPOSITORY___FOR_SPACETREE_GRID_ARRAY_STACK_IMPLEMENTATION_H_


#include "__PATH_OF_REPOSITORY__ForSpacetreeGrid.h"

#include "__PATH_OF_REPOSITORY__State.h"
#include "__PATH_OF_SPACETREE_GRID_VERTEX__.h"
#include "__PATH_OF_SPACETREE_GRID_CELL__.h"
#include "__PATH_OF_SPACETREE_GRID_STATE__.h"

#include "peano/kernel/spacetreegrid/Grid.h"
#include "peano/kernel/stacks/CellArrayStack.h"
#include "peano/kernel/stacks/VertexArrayStack.h"


__x__NONQUALIFIED_ADAPTER_TYPE__ #include "__PATH_OF_ADAPTER__SpacetreeGrid2__NONQUALIFIED_ADAPTER_TYPE__.h" 


__OPEN_NAMESPACE__
      namespace repositories {
        class __NONQUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGridArrayStackImplementation;  
      }
__CLOSE_NAMESPACE__


class __FULL_QUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGridArrayStackImplementation: public __FULL_QUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGrid {
  private:
    static tarch::logging::Log _log;
  
    peano::geometry::Geometry& _geometry;
    
    typedef peano::kernel::stacks::CellArrayStack<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__>       CellStack;
    typedef peano::kernel::stacks::VertexArrayStack<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__>   VertexStack;

    CellStack    _cellStack;
    VertexStack  _vertexStack;
    __FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_STATE__          _solverState;
    peano::kernel::spacetreegrid::RegularGridContainer<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__,__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__>  _regularGridContainer;
    peano::kernel::spacetreegrid::TraversalOrderOnTopLevel                                                                                                         _traversalOrderOnTopLevel;

   __x__NONQUALIFIED_ADAPTER_TYPE__ peano::kernel::spacetreegrid::Grid<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__,__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__,__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_STATE__,VertexStack,CellStack,adapters::SpacetreeGrid2__NONQUALIFIED_ADAPTER_TYPE__> _gridWith__NONQUALIFIED_ADAPTER_TYPE__;
  
   __FULL_QUALIFIED_TYPE_NAME_OF_REPOSITORY__State               _repositoryState;
   
  public:
    __NONQUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGridArrayStackImplementation(
      peano::geometry::Geometry&                   geometry,
      const tarch::la::Vector<DIMENSIONS,double>&  domainSize,
      const tarch::la::Vector<DIMENSIONS,double>&  computationalDomainOffset,
      int                                          maximumSizeOfCellInOutStack,
      int                                          maximumSizeOfVertexInOutStack,
      int                                          maximumSizeOfVertexTemporaryStack
    );
    
    /**
     * Parallel Constructor
     *
     * Used in parallel mode only where the size of the domain is not known 
     * when the type of repository is determined.  
     */
    __NONQUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGridArrayStackImplementation(
      peano::geometry::Geometry&                   geometry,
      int                                          maximumSizeOfCellInOutStack,
      int                                          maximumSizeOfVertexInOutStack,
      int                                          maximumSizeOfVertexTemporaryStack
    );
    
    virtual ~__NONQUALIFIED_TYPE_NAME_OF_REPOSITORY__ForSpacetreeGridArrayStackImplementation();

    virtual void restart(
      const tarch::la::Vector<DIMENSIONS,double>&  domainSize,
      const tarch::la::Vector<DIMENSIONS,double>&  domainOffset,
      int                                          domainLevel
    );
         
    virtual void terminate();
        
    virtual __FULL_QUALIFIED_TYPE_NAME_OF_STATE_INTERFACE__& getState();

    virtual void iterate( bool reduceState = true );
    
    virtual void writeCheckpoint(peano::kernel::gridinterface::Checkpoint<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__, __FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__> * const checkpoint); 
    virtual void readCheckpoint( peano::kernel::gridinterface::Checkpoint<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__, __FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__> const * const checkpoint );
    virtual peano::kernel::gridinterface::Checkpoint<__FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_VERTEX__, __FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_CELL__>* createEmptyCheckpoint(); 

   __x__NONQUALIFIED_ADAPTER_TYPE__ virtual void switchTo__NONQUALIFIED_ADAPTER_TYPE__();    
   __x__NONQUALIFIED_ADAPTER_TYPE__ virtual bool isActiveAdapter__NONQUALIFIED_ADAPTER_TYPE__() const;
  
    virtual __FULL_QUALIFIED_TYPE_NAME_OF_SPACETREE_GRID_STATE__& getSpacetreeGridState();
   
    #ifdef Parallel
    virtual bool continueToIterate();
    #endif

    virtual void setMaximumMemoryFootprintForTemporaryRegularGrids(double value);
};


#endif
